.bpmn-icon-custom {
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
}

.bpmn-icon-equipment1 {
    background-image: url('../assets/equipment1.png');
}

.bpmn-icon-equipment2 {
    background-image: url('../assets/equipment2.png');
}

.bpmn-icon-equipment3 {
    background-image: url('../assets/equipment3.png');
}

.bpmn-icon-equipment4 {
    background-image: url('../assets/equipment4.png');
}

.bpmn-icon-equipment5 {
    background-image: url('../assets/equipment5.png');
}

.bpmn-icon-computer {
    background-image: url('../assets/computer.png');
}

.bpmn-icon-endpoint {
    background-image: url('../assets/endpoint.png');
}

.bpmn-icon-chemistry {
    background-image: url('../assets/chemistry.png');
}

.bpmn-icon-flask {
    background-image: url('../assets/flask.png');
}

.bpmn-icon-stop {
    background-image: url('../assets/suspend.png');
}

.bpmn-template-outer {
    background-image: url('../assets/chemistry.png');
}

.bpp-properties-header {
    display: none;
}

.bpmn-template-green {
    background: linear-gradient(to top, #49823E, #63C242);
    border-radius: 5px;
}

.bpmn-template-black {
    background: linear-gradient(to top, #4b4d4b, #141414);
    border-radius: 5px;
}

.bpmn-template-yellow {
    background: linear-gradient(to top, #7b823e, #afc242);
    border-radius: 5px;
}

.bpmn-template-content {
    background: white;
    border-radius: 5px;
    float: right;
    height: 26px;
    margin: 2px;
    padding: 0px 10px;
}

.bpmn-template-icon {
    margin-top: 2.5px;
}

.bpmn-template-content input {
    background: #efefef;
    outline: none;
    border: none;
    width: 30px;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    border-radius: 5px;
}

.bpmn-template-content img {
    height: 20px;
    width: 20px;
    display: inline-block;
    position: relative;
    top: 3px;
}